main {
    width: 590px;
    margin: auto
}

h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    margin-top: 3rem;
    font-family: 'Monoton', 'Roboto Condensed', sans-serif;
    font-weight: normal;
}

#occupation {
    display: inline-block;
}

#chilli-label {
    position: relative;
    float: right;
    bottom: 5px;
    
}

h2 {
    font-size: 2.472rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 5px;
}

a {
    text-decoration: none;
}

#chillipharm {
    text-align: center;
    background-color: red;
    border-radius: 3px;
    padding: 1px 2px 1px 2px;
    color: white;
    font-size: .400rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    display: inline-block;
}

#icons {
    font-size: 2.472em;
    display: block;
    bottom: 20px;
    position: absolute;
    bottom: 20px;
}



/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Monoton', cursive;
*/
