@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-display: swap;
    src: url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf) format("truetype");
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-display: swap;
    src: url(fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(fonts/Roboto/Roboto-Thin.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url(fonts/Roboto/Roboto-ThinItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Roboto/Roboto-Light.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url(fonts/Roboto/Roboto-LightItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(fonts/Roboto/Roboto-Italic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Roboto/Roboto-Medium.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url(fonts/Roboto/Roboto-MediumItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(fonts/Roboto/Roboto-BoldItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/Roboto/Roboto-Black.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url(fonts/Roboto/Roboto-BlackItalic.ttf) format('truetype');
  }
}

@layer components {
  .card {
    @apply mb-20 max-w-96 relative ;
  }
  .card-shadow {
    @apply h-full w-full absolute top-2 left-2 rounded-lg;
    background-image: linear-gradient(#272727 .05rem, transparent .05rem),
      linear-gradient(90deg, #272727 .05rem, transparent .05rem);
    background-size: .25rem .25rem;
  }
  .card-container {
    @apply bg-pale-orange pb-3 border-2 border-grey rounded-lg relative z-10 overflow-hidden;
  }
  .card-image-area {
    @apply h-40 w-full flex;
  }
  .card-text-area {
    @apply p-4;
  }
  .card-title {
    @apply text-2xl font-bold text-grey font-roboto font-bold;
  }
  .card-text {
    @apply text-lg text-[#4B4B4B] font-roboto-slab font-normal;
  }
}

@layer components {
  .editor {
    @apply flex flex-col bg-dark-blue w-1/2 h-full p-2 overflow-scroll;
  }
  .editor-line {
    @apply w-3 h-1 rounded-full mr-1 mb-1
  }
  .web-app {
    @apply flex bg-white w-1/2 h-full;
  }
  .web-app-body {
    @apply flex flex-col flex-grow h-full overflow-scroll p-2;
  }
  .web-app-header {
    @apply grid grid-cols-4 mb-6;
  }
  .web-app-table {
    @apply grid grid-cols-3;
  }
  .web-table-circle {
    @apply w-3 h-3 rounded-full my-1 group-hover:bg-yellow;
  }
  .web-app-line {
    @apply w-3 h-1 rounded-full self-center justify-self-end group-hover:bg-yellow;
  }
  .web-app-row {
    @apply contents;
  }
}

